@charset "UTF-8";

@import "./colors";

.fa-exclamation-triangle {
  margin: 2%;
}

#buttonsHowto {
  margin: 1rem 0;
}

#footBtns {
  justify-content: center;
}

.otherButtons {
  color: $text;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1rem;
  margin: 0 0.5rem;
  transition: 0.2s;
  &:hover {
    color: $hoverText;
    i {
      color: $hover;
    }
  }
  i {
    color: $main;
    transition: 0.2s;
    margin-right: 10%;
  }
}

#credit {
  color: rgba(255, 255, 255, 0.87);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
